mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  padding: 0;
}

mat-card mat-card-header {
	padding:24px;
}

mat-card mat-card-header mat-card-title{
	color: white;
	width:100%;
	height: 100%;
	font-size: 20px;
	margin:0;
}

mat-card mat-card-header mat-card-title .mat-input-element {
	caret-color: white;	
}

mat-card-title ::ng-deep .mat-form-field-underline .mat-form-field-ripple{

  background-color:white;
}

mat-card-title ::ng-deep .mat-form-field-underline{

  background-color:white;
}

mat-card mat-card-content{
	padding: 10px 24px 10px 24px;
	height:240px;
}

mat-card mat-card-actions{
	padding: 10px 24px 10px 24px;
}

li{
	list-style:none;	
}

.todos {
	height: 200px;
	overflow: auto;
}

.todo{
	height: 34px;
	line-height: 34px;
	display: inline-block;
	width:100%;
	vertical-align: middle;
}

.todo-form {
  width: 100%;
  height: 40px;
}

.todo-editing	 {
  width: 100%;
}

.todo-list ul {
	padding: 0;
	-webkit-margin-before: 0px;
	
    list-style-type: none;
}

.todo-list mat-card-header {
	background-color: #3f51b5;
}

.todo-list li.editing .todo {
	display: none;
}

.todo-list mat-card-title.editing {
	display: none;
}

.todo label.completed {
	text-decoration: line-through;
}

.todo-list li.not-editing .todo-form {
	display: none;
}

.todo label{
	width:calc(100% - 54px);
	float: left;
	margin-left: 10px
}

.todo mat-checkbox {
	float: left;
	vertical-align: middle;
}

.todo-list mat-input {
	width:100%;
}

.todo-list mat-form-field {
	width:100%;
}

.todo i{
	flat: right;
	vertical-align: middle;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}