<div class="todo-app">
	<mat-grid-list cols="3" rowHeight="400px">
	  <mat-grid-tile *ngFor="let todoList of todoLists">
	  <mat-card class="todo-list">
	  	<mat-card-header>
		    <mat-card-title>{{todoList.name}}</mat-card-title>
	  	</mat-card-header>
	  	<mat-card-content>
	  		<mat-form-field>
				<input matInput placeholder="Add todo" [(ngModel)]="newTodoDesc" (blur)="addTodo(todoList)" (keyup.enter)="addTodo(todoList)">
			</mat-form-field>
	    	<ul class="todos">
				<li *ngFor="let todo of todoList.todos" [class.editing]="todo.editing" [class.not-editing]="!todo.editing">
					<div class="todo">
						<mat-checkbox [(ngModel)]="todo.completed" (change)="setCompleted(todo, todoList)" color="primary"></mat-checkbox>
						<label *ngIf="!todo.editing" (click)="editTodo(todo)" [class.completed]="todo.completed">{{todo.description}}</label>
		                <i class="material-icons delete" (click)="deleteTodo(todo, todoList)">clear</i>
					</div>
					<mat-form-field class="todo-form" *ngIf="todo.editing">
						<input class="todo-editing" matInput [(ngModel)]="todo.description" (blur)="saveTodo(todo)" (keyup.enter)="saveTodo(todo)">
					</mat-form-field>
				</li>
			</ul>
	  	</mat-card-content>
	  </mat-card>
	  </mat-grid-tile>
	</mat-grid-list>
</div>